// Variables

// img
$bg-intro-desktop: '../img/bg-intro-desktop.svg';
$bg-intro-mobile: '../img/bg-intro-mobile.svg';
$favicon-32x32: '../img/favicon-32x32.png';
$icon-api: '../img/icon-api.svg';
$icon-budgeting: '../img/icon-budgeting.svg';
$icon-close: '../img/icon-close.svg';
$icon-hamburger: '../img/icon-hamburger.svg';
$icon-onboarding: '../img/icon-onboarding.svg';
$logo-bumdes: '../img/logo_bumdes.png';
$icon-online: '../img/icon-online.svg';

$icon-facebook: '../img/icon-facebook.svg';
$icon-youtube: '../img/icon-youtube.svg';
$icon-twitter: '../img/icon-twitter.svg';
$icon-pinterest: '../img/icon-pinterest.svg';
$icon-instagram: '../img/icon-instagram.svg';